/* /*  your css  */


.testimonial
{
padding:2px;	
	border:1px solid black;
	background-color:white;
	
}
.maincontainer{
	width:100%;
	height:100%;
	padding:10 px;
background-color:#f5f5f5;
}
.text{
	color:black;
	font-family: Arial;
}
.author{
	text-align:right
}